


.grid-container-navbar {
    background-color: #858b13;
    display: flex;
}

.main-grid-container {
    display: grid;
    grid-template-columns: 400px 50px 400px;
    grid-template-rows: auto;
}

.text-grid {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.picture-grid {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}


.forside-bilde {
    background-image: url("../pictures/testebilde.jpeg");
    background-size: cover; /* stretches the image from side to side, top to bottom hentet fra Tengel */
    width: 90vw;
    height: 60vw;
}


.forside-bilde {
    background-image: url("../pictures/testebilde.jpeg");
    background-size: cover; /* stretches the image from side to side, top to bottom hentet fra Tengel */
    width: 90vw;
    height: 60vw;
}