
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.grid-container-navbar {
    background-color: #858b13;
    display: flex;
}

.main-grid-container {
    display: grid;
    grid-template-columns: minmax(10px 200px) 50px minmax(10px 200px);
    grid-template-rows: auto;
}

.text-grid {
    grid-column: 1 / 2;
}

.picture-grid {
    grid-column-start: 3 / 4;
}


.forside-bilde {
    background-image: url("../pictures/testebilde.jpeg");
    background-size: cover; /* stretches the image from side to side, top to bottom hentet fra Tengel */
    width: 90vw;
    height: 60vw;
}


.bilde {
    background-image: url("../pictures/testebilde.jpeg");
    background-size: cover; /* stretches the image from side to side, top to bottom hentet fra Tengel */
    width: 90vw;
    height: 60vw;
}