/* farger i variabler som brukes flere ganger som gjør det enkelt å bytte til dark mode i media query */
:root {
    --main-elemenet-color: rgba(187, 203, 207, 0.7);
    --main-text-color: rgb(0, 0, 0);
    --main-background-color: rgb(229, 229, 229);
    --footer-background-color: rgb(20, 52, 64);
    --navbar-highlight-color: rgba(234, 234, 234, 0.3);
    --border-color: rgba(0, 0, 0, 0.1);
}

/* fjerner default margin i body og velger font og bakgrunnsfarge */
body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--main-background-color);
}

/* farge på tekst i main + padding til main */
main {
    color: var(--main-text-color);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

/* footer: gjøres om til flexbox for å seksjonere elementene inni */
footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--footer-background-color);
    color: rgb(238, 238, 238);
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

/* footer: tynnere tekst */
footer section {
    font-weight: 300;
}

/* setter width på logoen i footer */
footer img {
    width: 8.125rem;
}

/* tekst formatering på time og address i footeren*/
footer time, footer address {
    white-space: pre-line;
    font-style: normal;
}

/* fjerner strek under linker kun i footeren */
footer a {
    text-decoration: none;
}

/* fjerner farger på alle linker */
a, a:visited, a:active {
    color: inherit;
}

/* custom farge på linker man har musepekeren over */
a:hover {
    color: rgb(99, 153, 174);
}

/* button brukt til burger-menyen */
button {
    background: none;
    border: none;
}

/* === navbar === */

/* konteineren til navbaren */
.navbar-container {
    display: flex;
    align-items: center;
    position: fixed; /* navbaren holder seg alltid øverst */
    height: 50px;
    z-index: 1; /* navbar "høyere" enn andre elementer */
    top: 0.75rem; /* avstand fra toppen */
    left: 1rem; /* avstand fra venstre side */
    right: 0.5rem; /* avstand fra høyre side */
    max-width: calc(100% - 2rem); /* max-width til 100% av body sin width - 4rem */
    /* calc fra www.w3schools.com/cssref/func_calc.php */

    background-color: var(--main-elemenet-color);
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.07);
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* safari support */
}

.navbar-buttons ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-left: 0;
    list-style: none;
}

.navbar-buttons ul li a {
    display: block;
    padding: 0.95rem;
    color: var(--main-text-color);
    text-decoration: none;
    border-radius: 15px; 
}

/* høyde på bilder i navbaren */
.navbar-container img {
    height: 45px;
}

.navbar-container a:hover {
    background-color: var(--navbar-highlight-color)
}

.current-active-tab {
    background-color: var(--navbar-highlight-color)
}

/* burger meny til høyre (usynlig på store skjermer) */
.navbar-burgericon {
    width: 50px;
    height: 50px;
    background-image: url("../pictures/burger.webp");
    background-size: cover;
    display: none;
    cursor: pointer; /* for å vise at du alltid kan velge burgermenyen, uansett skjermstørrelse */
    right: 0;
}

/* runder av boksen logoen er i */
.p35-rounded {
    border-radius: 15px;
    padding-left: 5px;
}

/* === header === */

/* header med padding alignet til teksten i main */
.header-with-padding {
    color: var(--main-text-color);
    padding-left: 2rem;
    padding-right: 25rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
}

/* header uten padding, brukt til index pga bildet */
.header-without-padding {
    padding: 0;
    color: rgb(255, 255, 255);
    padding-bottom: 4rem;
}

/* === index.html === */

/* index.html header tekst oppå bildet */
.main-page-header-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 8rem; /* for å plassere header teksten under navbaren */
    padding-left: 3rem;
    padding-right: 25rem;
}

/* bildet holder seg alltid synlig + 30% mørkere for tekst synlighet */
.main-page-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: brightness(30%);
}

/* en boks for html elementene til å lage en visuell link */
.snarvei {
    height: 15rem;
    background-color: var(--main-elemenet-color);
    transition: transform 0.3s; /* gir en gradvis overgang for når du holder over boksen */

    margin-top: 1rem;
    margin-bottom: 1rem;

    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
}

/* gjør at bildet passer innenfor boksen til bilde-link-bakgrunn */
.snarvei img {
    min-width: 100%;
    max-height: 170px;
    object-fit: cover;
}

.snarvei-link a {
    color: var(--main-text-color);
    text-decoration: none;
}

.snarvei-link{
    text-align: center;
    padding: 20px;
}

/* utvider boksen når man holder over boksen */
.snarvei:hover {
    transform: scale(1.05);
}

/* === main struktur === */

.section-flex-container {
    display: flex;
    padding-bottom: 4rem;
}

/* tekstbox med bakgrunn */
.section-text {
    flex: 1;
    margin: 0.6rem;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-width: 1px;
    border-color: var(--border-color);
    border-style: solid;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.07);
    background-color: var(--main-elemenet-color);
}

/* tekstbox uten bakgrunn */
.section-text-no-background {
    flex: 1;
    margin: 0.6rem;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

/* tekstbox med 0.3 i flex, brukt på hovedsiden */
.section-text-thin-no-background {
    flex: 0.3;
    margin: 0.6rem;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

/* bilde som blir mindre og zoomer inn når det er for lite plass i flex */
.section-image-resize {
    flex: 0.7;
    margin: 0.6rem;
}

.section-image-resize img {
    width: 100%;
    height: 18rem;
    /* max-height: 18rem; så ikke tekst-boksene ved siden av blir for store med tomrom */
    border-radius: 15px;
    object-fit: cover;
}

/* bilde som alltid viser alt innhold (innhold viktig) */
.section-image-static {
    flex: 0.7;
    margin: 0.6rem;
}

.section-image-static img {
    width: 100%;
    height: 100%;
    max-height: 18rem; /* så ikke tekst-boksene vedsiden av blir for store med white space */
    object-fit: scale-down /* gjør bildet mindre når det er for liten plass og beholder aspect ratio */
    /* ingen border radius fordi alt innhold skal være synlig */
}

/* bilde som tar opp hele skjermen (innhold ikke viktig) */
.section-image-big {
    flex: 1;
    margin: 0.5rem;
}

.section-image-big img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

/* teksten under bildet, plassert litt under og litt til høyre relativt til figure */
.section-image-resize figcaption {
    position: relative;
    left: 5px;
    top: 3px;
    font-size: 0.8rem;
}

/* teksten midtstilt bildet, plassert litt under og litt til høyre relativt til figure */
.section-image-big figcaption, .section-image-static figcaption {
    position: relative;
    left: 5px;
    top: 3px;
    text-align: center;
    font-size: 0.8rem;
}

/*  === media query som aktiveres på mindre skjermer (width 710px eller mindre) === */

@media (max-width: 800px){

    /* sjuler logoen i footer */
    footer img {
        display: none;
    }

    .header-with-padding {
        padding-right: 4rem;
    }
    
    .main-page-header-text {
        padding-right: 4rem;
    }

    .navbar-container {
        flex-direction: column;
        height: auto;
    }

    /* gjemmer navbar-knappene + de tar opp all width til når menyen åpnes*/
    .navbar-buttons{
        width: 100%;
        display: none;
    }

    /* listen i navbaren blir vertikal */
    .navbar-buttons ul {
        flex-direction: column;
    }

    /* midtstiller teksten i menyen */
    .navbar-buttons ul li {
        text-align: center;
    }

    /* brukt med JS for å vise menyen når burgeren er trykket */
    .navbar-buttons.active {
        display: block;
    }

    /* setter elementene i section flex-boksene under hverandre så de har nok plass */
    .section-flex-container {
        flex-direction: column;
    }

    .navbar-burgericon {
        display: block;
        position: absolute;
    }

    .navbar-burgericon.active {
        background-image: url(../pictures/burger-kryss.webp);
    }
}

/* bytter fargerene på siden hvis brukeren har på dark-mode på enheten sin */
@media (prefers-color-scheme: dark) {
    /* bytter farge variablene fra lyse til mørke farger */
    :root {
        --main-elemenet-color: rgba(37, 45, 65, 0.7);
        --main-text-color: rgb(243, 243, 243); /* blir for skarpt hvir den er helt hvit */
        --main-background-color: rgb(22 23 25);
        --navbar-highlight-color: rgba(167, 167, 167, 0.119);
        --footer-background-color: rgb(37, 45, 65, 0.7);
        --border-color: rgba(255, 255, 255, 0.1);
    }

    /* inverterer fargen til logoen i footeren */
    .navbar-container img {
        filter: invert(0.95);
    }

    .navbar-burgericon {
        filter: invert(0.95);
    }
}