/* rename to styles? */
body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    background-color: #FFFEFA;
}

.grid-container-navbar {
    background-color: #858b13;
    display: flex;
}

.main-grid-container {
    display: grid;
    grid-template-columns: minmax(150px, 800px) 30px minmax(150px, 350px);
    grid-template-rows: auto;
}

.grid-item-text {
    grid-area: 1 / 1 / 2 / 2;
}

.grid-item-pictures {
    grid-area: 1 / 3 / 2 / 4;
}


.bakgrunn {
    position: relative;
    padding-top: 10vw;
    height: 40vw;
   
}

.bakgrunn::before { 
    content: ""; 
    background-image: url("../pictures/p35-kopi.webp");
    background-size: cover;
    filter: brightness(50%);
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: -1;
} 

.bakgrunn > h1, .bakgrunn > p {
    color: whitesmoke;
}


.bilde-skalering {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    display: block;
}


/* studiesteder */

.p3-flex-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.p3-flex-container-section {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

/* shadow, border, padding and margin for all the individual squares */
.p3-flex-container-section div {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.07);
    margin: 10px;
    padding: 0 20px;
}

/* flex 1 to make the square take up the rest of the width */
.p3-flex-square {
    flex: 1;
}

/* image as background of div, using 30% of the viewport in width */
.p3-flex-image {
    background-size: cover;
    background-position: center;
    position: left;;
    width: 40vw;
}

#p3-flex-image-1 {
    background-image: url(../pictures/1.webp);
}

#p3-flex-image-2 {
    background-image: url(../pictures/2.webp);
}

#p3-flex-image-3 {
    background-image: url(../pictures/3.webp);
}

#p3-flex-image-4 {
    background-image: url(../pictures/4.webp);
}

/* navbar */

.navbar-container {
    display: flex;
    align-items: center;
    position: sticky;
    height: 50px;
    top: 0;
    z-index: 1;

    /* background blur with safari support */
    background-color: rgba( 255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );

    /* rounded navbar */
    top: 5px;
    margin: 15px 30px;
    border-radius: 15px; 
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.07);
   
}

.navbar-container img {
    height: 46px;
}

.navbar-buttons ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0;
}

.navbar-buttons li {
    list-style: none;
}

.navbar-buttons li a {
    display: block;
    padding: 0.95rem;
    color: black;
    text-decoration: none;
}

.navbar-container a:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.current-actvie-tab {
    background-color: rgba(0, 0, 0, 0.15);
}

.navbar-burgericon {
    display: none;
    right: 0;
}

.navbar-burgericon img {
    height: 100%;
    width: 50px;
}

/* media query for phones / smaller screens */

@media (max-width: 700px){
    .navbar-burgericon {
        display: block;
        position: absolute;
    }

    .navbar-container {
        flex-direction: column;
        height: 100%;
    }

    .navbar-buttons{
        width: 100%;
        display: none;
    }

    .navbar-buttons ul {
        flex-direction: column;
    }

    .navbar-buttons ul li {
        text-align: center;
    }

    /* used with JS to make menu appear when burgericon is pressed */
    .navbar-buttons.active {
        display: block;
    }

    .current-actvie-tab {
        background-color: rgba(0, 0, 0, 0)
    }

    /* studiesteder flex boxes */

    .p3-flex-container-section {
        flex-direction: column;
    }

    .p3-flex-image {
        height: 300px;
        width: auto;
    }
}


footer {
    padding: 4vw;
    background-color: rgb(35, 35, 35);
    text-align: center;
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

/* bunntekst på bilder */
.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    color: aliceblue;
}

/* for bildelink */
.polaroid {
    width: 19rem;
    background-color: rgb(219, 217, 217);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    margin: 40px;
    transition: transform 0.3s;
  }
  
  /*til polaroid bilde */
  .container {
    text-align: center;
    padding: 20px;
  }

  /*Styler linken inne i container */
  .container a {
    color: rgb(30, 61, 61);
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
  }

  .polaroid:hover {
    transform: scale(1.1);
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    margin: 10px;
  }

  .text-white {
    color: white; 
    font-size: 1.5vw;
  }

/* MIDLTERTIDLIG
.hovedside {
    display: flex;
    padding: 4rem;
    background-color: #858b13;
}

.paragrafer {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 20px;
    background-color: aqua;

}

.bildebox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: blue;
}
*/

.flex-container2 {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}

.box1 {
    margin: 50px;
    flex: 0.5;
    background-color: rgb(255, 255, 255);
    font-size: 23px;
    /* font-family: 'Times New Roman', Times, serif */
}

.box2 {
    flex: 0.25;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}