/* === global === */

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    background-color: rgb(239, 239, 239);
}

footer {
    padding: 4vw;
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
}

a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

a:hover {
    color: lightgreen;

}

time, address {
    /* !! make email and number clickable */
    white-space: pre-line;
    font-style: normal;
}

/* ikke i bruk ? */

.main-grid-container {
    display: grid;
    grid-template-columns: minmax(150px, 800px) 30px minmax(150px, 350px);
    grid-template-rows: auto;
}

.grid-item-text {
    grid-area: 1 / 1 / 2 / 2;
}

.grid-item-pictures {
    grid-area: 1 / 3 / 2 / 4;
}

.bakgrunn {
    position: relative;
    height: 40vw;
}

.bakgrunn::before { 
    content: ""; 
    background-image: url("../pictures/img.webp");
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: -1;
} 

.bakgrunn > h1, .bakgrunn > p {
    color: whitesmoke;
}


.bilde-skalering {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    display: block;
}


/* === navbar === */

.navbar-container {
    display: flex;
    align-items: center;
    position: sticky;
    height: 50px;
    
    top: 5px; /* height above navbar when floating */
    border-radius: 15px; /* rounded navbar */
    z-index: 1;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.07);
    background-color: rgba(239, 239, 239, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* safari support for blur */
}

.navbar-container img {
    height: 46px;
}

#p35-rounded {
    border-radius: 15px; 
}

.navbar-buttons ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0;
}

.navbar-buttons li {
    list-style: none;
}

.navbar-buttons li a {
    display: block;
    padding: 0.95rem;
    color: black;
    text-decoration: none;
    border-radius: 15px; 
}

.navbar-container a:hover {
    background-color: rgba(164, 164, 164, 0.17);
}

.current-active-tab {
    background-color: rgba(164, 164, 164, 0.17);
}

/* burger menu icon (hidden on desktop) */
#navbar-burgericon {
    display: none;
    right: 0;
}

#navbar-burgericon img {
    height: 100%;
    width: 50px;
}

/* === square design === */

header {
    margin: 10px 10px 40px 10px;
    padding: 20px 40px;
}

/* !! replace with apdding on smaller containers */
.main-container {
    padding-left: 20px;
    padding-right: 20px;
}

.article-flex-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    /* max-height: 300px; */
}

.article-flex-container figure {
    flex: 0.7;
    margin: 10px 10px 20px 10px;
    /* height: auto; */
    max-height: 300px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.07);
}

.article-flex-container figure img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

/* caption underneith figure */
.article-flex-container figure figcaption {
    position: relative;
    left: 5px;
    top: 2px;
    font-size: 0.8rem;
}

/* text box in article */
.article-flex-text {
    margin: 10px 10px 20px 10px;
    flex: 1;
    padding: 0 20px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.07);
    background-color: rgb(245, 245, 245);
} ul {
    padding-left: 15px;
}


/*  === media query for smaller screens === */

/* !! riktig media query? */
/* !! IDs at bottom */

@media (max-width: 700px){

    /* === navbar === */

    #navbar-burgericon {
        display: block;
        position: absolute;
    }

    .navbar-container {
        flex-direction: column;
        height: 100%;
    }

    /* hides navbar links on mobile */
    .navbar-buttons{
        width: 100%;
        display: none;
    }

    /* list becomes vertical menu */
    .navbar-buttons ul {
        flex-direction: column;
    }

    /* centers the text when in menu mode */
    .navbar-buttons ul li {
        text-align: center;
    }

    /* used with JS to make menu appear when burgericon is pressed */
    .navbar-buttons.active {
        display: block;
    }

    .current-actvie-tab {
        background-color: rgba(0, 0, 0, 0)
    }

    /* === square design === */

    .article-flex-container {
        flex-direction: column;
        max-height: 100%;
        padding-bottom: 50px;
    }

    .article-flex-container figure {
        max-height: 100%;
        display: flex;
        flex-direction: column;
    }

    /* makes caption not take up space and sit underneith figure*/
    .article-flex-container figure figcaption {
        height: 0;
    }

    /* For index sida */

    .text-white {
        color: white; 
        font-size: 50px;
      }
}

/* bunntekst på bilder */
.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 1.5vw;
    color: aliceblue;
}

/* for bildelink */
.polaroid {
    width: 19rem;
    background-color: rgb(219, 217, 217);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    margin: 40px;
    transition: transform 0.3s;
  }
  
  /* til polaroid bilde */
  .container {
    text-align: center;
    padding: 20px;
  }

  /* styler linken inne i container */
  .container a {
    color: rgb(30, 61, 61);
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
  }

  .polaroid:hover {
    transform: scale(1.1);
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    margin: 10px;
  }

  .text-white {
    color: white; 
    font-size: 1.5vw;
  }

/* MIDLTERTIDLIG
.hovedside {
    display: flex;
    padding: 4rem;
    background-color: #858b13;
}

.paragrafer {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 20px;
    background-color: aqua;

}

.bildebox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: blue;
}
*/

.flex-container2 {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}

.box1 {
    margin: 50px;
    flex: 0.5;
    background-color: rgb(255, 255, 255);
    font-size: 23px;
    /* font-family: 'Times New Roman', Times, serif */
}

.box2 {
    flex: 0.25;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

/*Bilde til Tilgjengelighetstesten (4 bilder ved siden av hverandre)*/
/*This shit wont make pictures smaller*/
.accessRad {
    width: auto;    /* La kolonnene tilpasse seg innholdet */
    display: flex;  /* Bruk flexbox for layout */
  }
  
.accessKolonne {
    display: flex;             /* Bruk flexbox for layout */
    justify-content: center;   /* Senter innhold horisontalt */
    align-items: center;       /* Senter innhold vertikalt */
    width: 100%;               /* Få kolonnen til å fylle sin overordnede container */

  }
.accessBilde {
    max-width: 100%;           /* La bildet skalere innenfor div-boksen */
    height: auto;              /* Behold høyde-bredde-forholdet for bildet */
}

.eksempelBilde {
    max-width: 99%;
}